@charset "utf-8";



/* CSS Document */







html, body {



    height: 100%;



}







body {



	



	font-size:12px;



	color:#333333;



	font-family:Helvetica, Arial, Helvetica, sans-serif;



	/*background:url(../images/dbquest/bg_02.jpg) fixed;*/



	background-color:#FFF;




	margin:0px;



	



}







a img {



	border:none



}







.clear {



	clear:both;



}







div.jfdefaulttext {



	display:none;



}







.outermainwrapper {



        background:#065B9D;

	background:url(../images/bgd.jpg) no-repeat left top;



	



}







#mainwrapper {



	width:901px;



	margin:0px auto 0px auto;



	height:173px;



}







#shadowleft {



	background:url(../images/shadowleft_13.png);



	width:12px;



	



}







#shadowright {



	background:url(../images/shadowright_09.png);



	width:12px;



	



}











/*HEADER------------*/







div#header {



	height:172px;



 	background:none;



    position:relative;



}



#header div.embed {



	float:left;



	padding-top: 50px;



	padding-right: 0px;



	padding-bottom: 0px;



	padding-left: 15px;	



	clear:right;



	}



#header div.embed1 {

 position:absolute;



  top:20px;



  right:23%;

	}

#header div.embed2 {

  position:absolute;

 top:8px;
 
  right:46%;


	}



#header div.social_link {



  position:absolute;



  top:20px;



  right:-1px;



	}



#header div.social_link p{



	margin:0px;



	



	



	}







/*------------------------------------MAIN-MENU----------------------------------------*/

	







#header div#nav {



	padding:0px;



	margin:0px;



	margin-top:0px;

	

	background:none;

	

	float:left;



	height:44px;



	width:906px;



	background:url(../images/bgnav.png) no-repeat right center;



	}







#header div#nav ul {

  

	padding:0px;

	margin:0px



}







#header div#nav ul li {




	padding:0px;



	margin:0px;



	background:none;



	float:left;



	background:none;;   


}







#header div#nav ul li.item3 ul li {

 width:10px;           

	background:none;	



}







#header div#nav ul li.item8 {



	background:none;



}







#header div#nav ul li a {



	display:block;



	color:#065B9D;



	text-align:center;



	text-decoration:none;



	text-transform: uppercase;

	

	text-shadow:#333;



	font-weight:bold;



	font-size:115%;



	height:44px !important;



	height:56px;



    padding-top:12px;



	padding-right: 15px;



	padding-left: 15px;



}














#header div#nav ul li.item6 a {



	



	background:none



}







#header div#nav ul li#last a:hover,



#header div#nav ul li a:hover,



#header div#nav ul li.active a



{



	background:none;



    color:#333;



}







/*------------------------------------DROPDOWN----------------------------------------*/







#header div#nav #hxdmoomenu ul li {



	padding-left:0px;



}







#header div#nav #hxdmoomenu ul li ul {



	margin-top:15px;



	margin-left:0px;



	width:200px;



	position:absolute;



	background:#FFF;



	-moz-border-radius: 4px;



	border-radius: 4px;



    border:#065B9D 1px solid;	



	font-size:14px;



	z-index:100;



}











#header div#nav #hxdmoomenu ul li ul li {



	width:300px;



}







#header div#nav #hxdmoomenu ul li ul li.item13,



#header div#nav #hxdmoomenu ul li ul li.item18,



#headerdiv #nav #hxdmoomenu ul li ul li.item22,  



#header div#nav #hxdmoomenu ul li ul li.item36,



#header div#nav #hxdmoomenu ul li ul li.item35,



#header div#nav #hxdmoomenu ul li ul li.item57,



#header div#nav #hxdmoomenu ul li ul li.item28 {



	background:none;



}







#header div#nav #hxdmoomenu ul li ul li a {



	width:180px !important;



	width:200px;



	text-transform:capitalize;



	color:#065B9D;



	height:auto !important;



	height:auto;



	text-align:left;



	border:thin;



	background:none;



	padding-top: 2px;



	padding-right: 15px;



	padding-bottom: 2px;



	padding-left: 10px;



	font-size:14px;



	border-bottom:1px solid #49b574;



}







#header div#nav #hxdmoomenu ul li ul li#last a:hover,



#header div#nav #hxdmoomenu ul li ul li a:hover,



#header div#nav #hxdmoomenu ul li ul li.active a



{



	background:none;



    color:#333;



}











#header div#nav #hxdmoomenu ul li.item3 ul {



	width:250px;	



}







#header div#nav #hxdmoomenu ul li.item3 ul li a,



#header div#nav #hxdmoomenu ul li.item3 ul li a:hover {



	width:230px !important;



	width:250px;	



}



#header div#nav #hxdmoomenu ul li.item2 ul li,



#header div#nav #hxdmoomenu ul li.item8 ul li,



#header div#nav #hxdmoomenu ul li.item3 ul li.item57 a,



#header div#nav #hxdmoomenu ul li.item3 ul li.item34 a,



#header div#nav #hxdmoomenu ul li.item3 ul li.item15 ul li,



#header div#nav #hxdmoomenu ul li ul li.item36 a,



#header div#nav #hxdmoomenu ul li ul li.item35 a,



#header div#nav #hxdmoomenu ul li ul li ul li.item28 a,



#header div#nav #hxdmoomenu ul li.item8 ul li.item43 a,



#header div#nav #hxdmoomenu ul li ul li ul li.item43 a



{



	border:none;	



}



#header div#nav #hxdmoomenu ul li.item20 ul li ul,



#header div#nav #hxdmoomenu ul li.item15 ul li ul,



#header div#nav #hxdmoomenu ul li.item3 ul li ul,





#header div#nav #hxdmoomenu ul li.item9 ul li ul





  {



	margin-top: 0px;



	margin-right: 0px;



	margin-bottom: 0px;



	margin-left: 85px;



}



























/*CONTENT------------*/







/*div#content {



	padding:2px;



}

*/





td#tdinner.tdinner{



	background:#f7f7f7;



	padding:10px 20px;

        

        width:100%;



        margin-right:auto;



        margin-left:auto;



        border:1px ridge #CCC;



        box-shadow: 7px 7px 5px #CCC;



                



		}







div#homecontent{



	position:relative;



	width:100%;



	float:left;



    background:#FFF;



	}







div#homecontent h2.contentheading{



	top:23px;



	position:absolute;



	left:-7px;



	background:url(../images/bg_heading.png) left center;



	width:182px;



	height:42px !important;



	height:49px;



	margin:0px;



	padding:0px;



	font-family:Arial, Helvetica, sans-serif;



	font-weight:bold;



	font-size:22px;



	text-transform:uppercase;



	color:#FFF;



	padding-top:7px;



	text-align:center;



	}



















div#links1{



	width:222px;

	float:left;

	height:auto;

	margin-right:3px;





		}	





div#links2{



	width:222px;

margin-right:2px;

     float:left;	

	height:auto;

	





		}	



div#links3{



	width:222px;



	float:left;



	height:auto;







		}	



div#links4{



	width:222px;



   float: right;

	height:auto;







		}	









/*CONTAINER----------------------------*/







div.content {



	margin-top:10px;



	padding:20px;



	background:url(../images/tharaa/container_bgtop_03.jpg) no-repeat top center;



   



}







div.content p {



	text-align:justify



}











/*FOOTER----------------------------*/







div#footer {



	height:50px;



	margin-top:7px;



}







div#footer ul {



	padding:0px;



	margin:0px



}







div#footer ul li {



	padding:0px;



	margin:0px;



	background:none;



	float:left;



}







div#footer ul li a {



	color:#333333;



	font-size:11px;



	text-decoration:none;



	padding:0px 10px;



	border-right:1px solid #757575;



}







div#footer ul li#last a {



	background:none;



}







div#footer ul li ul {



	display:none



}







div#footer div.copyright {



    float:right;

	color:#333;

	



}



/*BANNER------------------------------*/







div#banner{



	height:100px;



	margin-top:20px;



	margin-bottom:10px;



	background-image:none;



	margin-right: auto;



	margin-left: auto;	



	



	}







/*JA STYLES---------------------------------*/







div.componentheading, h2, h3, h4 {



	font-family:"OpenSansLight", Arial, Helvetica, sans-serif;



}







div.componentheading,



h2.contentheading {



	color:#08876c;



	font-size:18px;



	font-weight:bold;



	font-family:"Arial", Gadget, sans-serif;



	background:none;



	padding:5px;



    	



}







h2.contentheading a.contentpagetitle {



	color:#08876c;



	font-size:18px;



	font-weight:bold;



	font-family:"Arial", Gadget, sans-serif;



	background:none;



	padding:5px;



	line-height:24px;



	text-align:left



}











td.tdinner {



	padding-right:10px;



	text-align:justify



     



}











a.readon, a.readon:hover, a.readon:focus {







	float:left;



	font-size:11px;



	font-family: 'Terminal Dosis', sans-serif;



	background:url(../images/read_btn.jpg) no-repeat;



    width:79px;



	text-align:center;



	color:#fff;



	font-size:12px;



	text-decoration:none;



	border:none;



	padding:0px;



	margin:0px;



	text-transform:uppercase;



	font-weight:normal;



  



}







a.readon:hover, a.readon:focus {



	text-decoration:none;



}







div.moduletable {



	background:none;



	margin-bottom:0px;



	padding-bottom:0px;



}







span.article_separator {



	display:none



}







div.article-content {



	



	padding:0px;



	margin:0px;



}



div.article-content tr td{



	margin:0px;



	



}



div.article-content p{



	



	padding:0px;







}



div.article-content p img{



    margin:0px;	



	padding:0px;







}











/*LATEST NEWS----------------------------*/







div.latest_news {



	float:right;



	padding:10px;



	background:#eeeded;



	width:220px;



	min-height:435px !important;



	min-height:447px;



	



		



}



*+html div.latest_news {



min-height:458px !important;



}







div.latest_news h2.contentheading{



	font-family:"Arial", Gadget, sans-serif;



	text-transform:uppercase;



	font-size:18px;



	font-weight:bold;



	color:#08876c;



	margin-left:9px;



	margin-bottom:15px;



	}







div.newsentry {



	



	background: #EBEBEB;



	



	margin-bottom:10px;



	position:relative;



	width:315px;



	padding-top: 2px;



	padding-right: 0px;



	padding-bottom: 10px;



	padding-left: 5px;



	}



	



*+ html div.newsentry div.newsentry {



	margin-bottom:0px !important;



}	







div.newsentry div.date {



	



    position:absolute; 



	left:10px;



	background:url(../images/bg_news.png) center center;



	width:28px;



	height:36px;



	text-align:center;



	



}







div.newsentry div.newscontent {



	float:right;



	width:300px;



	margin-left:10px;



	margin-bottom:0px;



		



}











div.newsentry div.newscontent a {



	text-shadow:#030303;



	text-decoration:none;



}







div.newsentry div.newscontent a.readon_news {



	margin-top:0px;



}







div.newsentry div.newscontent a:hover {



	text-decoration:underline;



}







div.newsentry div.date span.month {



	font-size:8px;



	text-transform:uppercase;



	display:block;



	background:none;



	font-weight:bold;



	



	color:#FFF;



	margin:0px;



	margin-top:-8px;



}







div.newsentry div.date span.day {



	font-size:15px;



	color:#FFF;



	font-weight:bold;



	display:block;



	padding-top:1px;



	margin:0px;	



	



}







div.newsentry div.newscontent div.title {







	font-size:13px;



	color:#030303;



	



	font-weight:bold;



	padding-left:40px;



	margin-bottom:10px;



	



}







*+ html div.newsentry div.newscontent div.title {



	margin-bottom:0px !important;



}











div.newsentry div.newscontent div.title a {



	color:#030303;



	text-decoration:none;



}











div.newsentry div.newscontent div.text {



	



	margin-bottom:15px;	



}







a.readmore {



    font-size:11px;



	font-family: 'Terminal Dosis', sans-serif;



	display:block;



	float:right;



	background:url(../images/read_btn.jpg) no-repeat;



	text-decoration:none;



	text-transform:uppercase;



	width:79px;



	line-height:17px;



		text-align:center;



	text-transform:upppercase;



	color:#FFF;



	font-weight:normal;



	margin-top:10px;



	margin-right:-25px;







  



}







*+ html a.readmore {



	margin-top:0px !important;



}











a.readmore_news {



display:none;







}











/*SEARCH----------------------------*/







div.search_bar {







	float:right;



	margin-top: 90px;



	



	padding-bottom:0px;



    margin-right: 0px;







	



}







div.search_bar div.search {



	width:auto; 		



	



}











div.search_bar input.button {



	background:url(../images/search.png) no-repeat center center #FFF;



	



	width:20px;



	height:22px;



	margin:0px;



	padding:0px;



	border:none;



	text-indent:-3000px;



	overflow:hidden;



}







div.search_bar input.button:hover,



div.search_bar input.button:focus {



	background:url(../images/search1.png) no-repeat center center #FFF;



}







div.search_bar input#mod_search_searchword {



	background:#FFF;



	width:191px !important;



	width:195px;



	height:22px;



	padding:0px 0px 0px 5px;



	font-family:Arial, Helvetica, sans-serif;



	color:#999;



	border:none;







}







/*PATHWAY----------------------------*/







div.pathway {



	margin-bottom:20px;



	font-size:11px;



}







div.pathway img {



	margin:0px 4px;



}











/*INNER BANNER----------------------------*/







div#inner_banner {



	



}







div#inner_banner div.text {



	padding:35px 25px 25px 25px;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:25px;



	color:#FFF;



	line-height:30px;



}	







div#inner_banner a {







	display:block;



	width:140px;



	line-height:26px;



	background:url(../images/slide_btn.png) no-repeat left center;



	color:#FFF;



	text-decoration:none;



	text-align:center;



	text-transform:uppercase;	



}







div#inner_banner a:hover {



	text-decoration:underline;	



}







/*HOME BANNER----------------------------*/







div#home_banner_left {



	float:left;



	width:388px;



	margin-bottom:15px;



}







div#home_banner_left div.text {



	padding:35px 25px 25px 25px;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:25px;



	color:#FFF;



	line-height:30px;



}	







div#home_banner_left a {



	display:block;



	width:140px;



	line-height:26px;



	background:url(../images/slide_btn.png) no-repeat left center;



	color:#FFF;



	text-decoration:none;



	text-align:center;



	text-transform:uppercase;	



}







div#home_banner_left a:hover {



	text-decoration:underline;	



}











div#home_banner_right {



	float:left;



	width:309px;



	margin-bottom:15px;



}











div#home_banner_right div#banner1 {



}







div#home_banner_right div#banner1 div.text {



	padding:35px 25px 10px 25px;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:18px;



	color:#FFF;



	font-size:18px;



}	







div#home_banner_right div#banner1 a {



	display:block;



	width:140px;



	line-height:26px;



	background:url(../images/slide_btn.png) no-repeat left center;



	color:#FFF;



	text-decoration:none;



	text-align:center;



	text-transform:uppercase;	



	font-size:90%



}







div#home_banner_right div#banner1 a:hover {



	text-decoration:underline;	



}







div#home_banner_right div#banner2 {



	



}







div#home_banner_right div#banner2 div.text {



	padding:35px 25px 10px 25px;



	font-family:Georgia, "Times New Roman", Times, serif;



	font-size:18px;



	color:#FFF;



	line-height:18px;



}	







div#home_banner_right div#banner2 a {







	display:block;



	width:140px;



	line-height:26px;



	background:url(../images/slide_btn.png) no-repeat left center;



	color:#FFF;



	text-decoration:none;



	text-align:center;



	text-transform:uppercase;



	font-size:90%



}







div#home_banner_right div#banner2 a:hover {



	text-decoration:underline;	



}











/*SLIDESHOW----------------------------*/







div#slideshow {



	height:375px;



	width:auto;



	margin-top:10px;



	z-index:0;



	margin-bottom:5px;







}







div#slideshow_inner{



    height:10px;



	width:auto;



	margin-top:5px;



	margin-bottom:0px



	



	}



	



div#slide{



	float:left;



    margin:0px; 



	padding:0px;



}







}



	



/*-------------------------------MODULE CAROUSEL SECTORS*/







.tabs_outer_container {



	position:relative;



	margin-left:10px;



}







.tabs_outer_container ul {



	margin:0px;



	padding:0px;



	background:none;



}







.tabs_outer_container {



	margin-top:15px;



}







.tabs_outer_container div.divprev {



	position:absolute;



	left:-10px;



	z-index:100;



	top:120px;



}







.tabs_outer_container div.divprev a {



	display:block;



	width:35px;



	height:35px;



	background:url(../images/prev.png) no-repeat;	



}







.tabs_outer_container div.divprev a:hover {



	background:url(../images/prev_hover.png) no-repeat;		



}







.tabs_outer_container div.divnext {



	position:absolute;



	right:5px;



	z-index:100;



	top:120px;



}







.tabs_outer_container div.divnext a {



	display:block;



	width:35px;



	height:35px;



	background:url(../images/next.png) no-repeat;



}







.tabs_outer_container div.divnext a:hover {



	background:url(../images/next_hover.png) no-repeat;		



}







.tabs_container {



	float:left;



	width:886px;



	margin:0px 0px 0px 0px;



}







.tabs_outer_container ul li {



	margin:0px;



	padding:0px;



	padding:8px;



	margin:0px 0px;



	font-size:90%;



	text-align:center;



	background:none;



	



}







.tabs_outer_container ul li div {



	padding:0px;



}







.tabs_container ul li a {



	height:auto;



	background:none;



	text-decoration:none;



	color:#223b73;	



	margin-right:0px;







}







div#article-link{

	background:none;

	margin-left:auto;

	margin-right:auto;

	margin-bottom:5px;

	

	}